[Desktop Entry]
Type=Application
Version=1.0
Name=DosBox
Comment=Play your favorite DOS games
Path=/home/eax/.dosbox
Terminal=true
Icon=dosbox.png
TryExec=dosbox
Exec=dosbox
Categories=Game;
