[Desktop Entry]
Type=Application
Version=1.0
Name=DosBox
Comment=Play your favorite DOS games
Path=/home/eax/.dosbox
Terminal=true
Icon=/home/eax/.local/share/dosbox/dosbox.png
TryExec=/home/eax/.local/bin/dosbox
Exec=/home/eax/.local/bin/dosbox
Categories=Game;
