[Desktop Entry]
Version=1.0
Name=fiddler
Exec=/home/eax/.local/appimages/progress-telerik-fiddler.AppImage
Icon=/home/eax/.local/share/icons/fiddler.png
Terminal=false
Type=Application
Categories=Utility;
