[Desktop Entry]
Comment=
Exec=/home/eax/.local/ghidra.dst/ghidraRun
GenericName=Ghidra Disassembler and Decompiler
Icon=ghidra.png
MimeType=
Name=Ghidra
Path=/home/eax/.local/ghidra.dst
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
